# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
# IDE
.idea

# repo
bower_components

# build
**/.sass-cache
**/css

#node_modules
node_modules